.h-test{

    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color:#0015ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(245, 225, 0, 0.7);
}

.s-test{

    display: inline-block;
    margin-right: 0.25em;
    white-space: nowrap;
}
.s-s-test{

    display: inline-block;
  margin-right: -0.05em;
}
@media screen and (max-width: 1100px) {
  .h-test{
    font-size: 2.5rem;

  }
}
@media screen and (max-width: 1090px) {
  .h-test{
    font-size: 2rem;

  }


}
@media screen and (max-width: 950px) {
  .h-test{
    font-size: 1.5rem;

  }


}

@media screen and (max-width: 768px) {
  .h-test{
    font-size: 1.2rem;

  }


}
@media screen and (max-width: 550px) {

  .h-test{
    font-size: 1rem;

  }
}
@media screen and (max-width: 390px) {

  .h-test{
    font-size: 0.8rem;

  }


}