.container-home{

    display: flex;
    flex-direction: column;
    width:100%;
    height: 1200px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
  

   
   /* animation: move 1s ease;*/
}

.presentation-home{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentation-home h1{

   color: rgb(0, 229, 255);
   font-weight: bold;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-decoration-line: underline;
}
.about-home{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 400px;
    margin-bottom: 200px;

}

.image-home{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;


    width:100%;
    height: 500px;
    background-image: url('../../Assets/back3.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;


}

.text-image-home{

    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;
    
   
 

}

@media screen and (max-width: 950px) {

    .text-image-home{

        position: relative;
         margin-top: 30%;
           
         }
}
@media screen and (max-width: 768px) {


    .text-image-home{

   position: relative;
    margin-top: 20%;
      
    }
    .container-home{

        margin-top: 140px;
    }
    .image-home{

        height: 200px;
      
    }

}
