.container-home{

    display: flex;
    width:100%;
    height: 1200px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin-top: 20px;
  

   
   /* animation: move 1s ease;*/
}

.image-home{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    width:100%;
    height: 500px;
    background-image: url('../../Assets/back3.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;


}

.text-image-home{


    position: absolute;

    
    bottom: 0px;
 

}


@media screen and (max-width: 768px) {


    .text-image-home{


   position: relative;
    margin-top: 20%;
        
       
     
    
    }
    .container-home{

        margin-top: 100px;
    }
    .image-home{

        height: 200px;
      
    }

}
